{% extends "base_html.twig" %}

{% block content %}
  <h1 class="cover-heading">It's Alive!!!</h1>
  <p class="lead">Angular.js application structure with a Silex PHP backend</p>
  <p><a href="#" class="btn btn-lg btn-default">Do Not Click</a></p>
{% endblock %}