{% extends "base_html.twig" %}

{% block content %}
  <div class="container">

    <h1 class="page-header">Congrats Friend!! <small>silex-angular</small></h1>

    <p class="lead">This is a simple bare-bones Silex setup optimized to create an Angular.js application.</p>

  </div>
{% endblock %}