//
// Scaffolding
// --------------------------------------------------

h1 {
  color: $blue;
}

.callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}

.callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}